<!-- Footer-->
<footer class="py-5" style="background-color: #1b1e21">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-white">주소
            <span style="padding-left:3em;"></span>|
            <span style="padding-left:2em;"></span>
            서울 중구 한강대로 416 (남대문로5가, 서울스퀘어) 15층 101호 코멘토
        </p>

        <p class="m-0 text-white">대표전화
            <span style="padding-left:1.3em;"></span>|
            <span style="padding-left:2em;"></span>
            1544-9893
        </p>
    </div>
</footer>
