<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white; border-bottom: 1px solid #1b1e21">
    <a class="navbar-brand nav-link" href="/home/"><h3>A company</h3></a>
    <div class="container px-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link" href="/search/">
                    <img class="img-fluid" src="../../static/images/search.png" alt="검색" width="20" height="20" />
                </a>

                <div class="dropdown" style="padding-top:7px; padding-left: 13px; padding-right: 13px">
                    <img class="img-fluid dropdown-toggle" data-toggle="dropdown"  aria-expanded="false"
                         src="../../static/images/mypage.png" alt="마이페이지" width="22" height="22"/>
                    <div class="dropdown-menu">
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'users:logout' %}">{{ user.username }}님 로그아웃</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'users:login' %}">로그인</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">주문/배송 조회</a>
                    </div>
                </div>

                <a class="nav-link" href="#">
                    <img class="img-fluid" src="../../static/images/cart.png" alt="장바구니" width="22" height="22" />
                </a>

                <div class="subnav">
                    <button class="subnavbtn">전체상품</button>
                    <div class="subnav-content">
                        <div align="center">
                            <a href="/tv/">TV</a>
                            <a href="/products/laptop/">노트북</a>
                            <a href="/kitchen/">주방가전</a>
                            <a href="/beauty/">뷰티</a>
                            <a href="/robot/">로봇</a>
                        </div>
                    </div>
                </div>

                <a class="nav-link" href="/company/" style="padding-top: 10px">회사소개</a>
                <div style="padding-top: 7px; padding-left: 10px; padding-right: 10px; border: 1px solid black">
                    {% if user.is_authenticated %}
                    <b>{{ user.username }}님</b>
                    {% else %}
                    <b>비회원</b>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>
<style>
    /* The subnavigation menu */
    .subnav { float: left; overflow: hidden; }

    /* Subnav button */
    .subnav .subnavbtn {
        border: none; outline: none;
        padding-top: 10px;
        background-color: inherit; font-family: inherit; margin: 0;
    }

    /* Style the subnav content - positioned absolute */
    .subnav-content {
        display: none; position: absolute; align-content: end; right: 50px; background-color: white;
        color: black; border: 2px solid black; border-radius: 20px; width: 30%; z-index: 1;
    }

    /* Style the subnav links */
    .subnav-content a {
        color: white; text-decoration: none; color: black;
        padding-left: 15px; padding-right: 15px;
        font-size: 130%;
    }

    /* Add a grey background color on hover */
    .subnav-content a:hover { text-decoration: underline; color: black; }

    /* When you move the mouse over the subnav container, open the subnav content */
    .subnav:hover .subnav-content { display: block; }
</style>
