{% extends 'base/base.html' %}
{% block content %}
  <h1 style="text-align: center; padding-top:2%">기업정보</h1>
  <div style="position: relative">
    <img src="https://cdn.comento.kr/comento/comento-people-new.jpg" class="d-block w-60" alt="..." height="600" style="margin: auto">
    <div style="position: absolute; top: 45%; left:12%">
      <pre><h1 style="color:white;"><b>
      꿈을 이뤄나갈 수 있도록
      정보와 기회의 문턱을 낮추는 데
      기여합니다.
      </b></h1></pre>
    </div>
    <div style="position: absolute; top: 75%; left:15.5%">
      <pre style="color:white"><h5><b>
        세상 모든 업에 대한 탐구와 성장 기회를 만들고,
        업을 완성해 나가는 과정을 매 순간
        함께 할 수 있는 서비스로 성장하겠습니다.
      </b></h5></pre>
    </div>
  </div>
  <div style="padding-top: 2%; padding-left:11%">
    <h5><pre>
      시작하는 사람들의 커리어 커뮤니티, 코멘토
      코멘토는 커리어의 시작을 준비하는 사람들이나 이제 막 커리어를 시작한 사람들의 커리어 시작과 성장을 도와줄 사람을 만나고
      필요한 교육에 참여할 수 있는 서비스입니다.
      코멘토는 누구나 편하게 커리어 관련 고민을 해결할 수 있는 커리어 커뮤니티 코멘토와 취업, 이직, 실무스킬 향상에 도움이 되는 교육을
      현직자로부터 4 ~ 6주간 LIVE로 배울 수 있는 직무부트캠프 및 실무PT를 운영하고 있습니다.
      코멘토 팀은 저희와 함께 시작하는 사람들의 커리어 성장을 위해 나누고, 배우고
      함께 성장하는 생태계를 함께 만들어 갈 역량 있는 분들을 기다리고 있습니다.
      -출처 : 코멘토-
    </pre></h5>
  </div>
{% endblock %}